<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>
<div class="mx-5">
  <div class="border-2 mx-auto rounded-sm  p-6 max-w-xl mt-5">
    <%= form_with(url: sign_in_path, class: "flex flex-col items-stretch gap-5 ") do |form| %>
      <h1 class="font-semibold text-3xl">Sign in</h1>
      <div class="flex flex-col">
        <%= form.label :email %>
        <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true, autocomplete: "email", class: input_classes.render %>
      </div>
      <div class="flex flex-col">
        <%= form.label :password  %>
        <%= form.password_field :password, required: true, autocomplete: "current-password", class: input_classes.render %>
      </div>
      <div>
        <%= form.submit "Sign in", class: button_classes.render(full: true) %>
      </div>
    <% end %>
    <hr class="my-4 border">
    <div>
      <%= button_to "Sign in with GooGoo", "/auth/google_oauth2", data: { turbo: false }, class: "justify-center #{button_classes.render(full: true)}" %>
    </div>
    <div class="mt-4 text-center">
      <%= link_to "Sign up", sign_up_path, class: "font-medium hover:underline hover:font-semibold" %> |
      <%= link_to "Forgot your password?", new_identity_password_reset_path, class: "font-medium hover:underline hover:font-semibold" %>
    </div>
  </div>
</div>