<div class="container mx-auto px-6 py-8 lg:px-8">
  <div class="bg-white border border-black p-6 rounded-xs">
    <div class="flex justify-between items-center mb-6">
      <div>
        <h1 class="text-2xl font-bold text-black"><%= @startup.name %></h1>
        <p class="mt-1 text-sm text-black max-w-xl"><%= @startup.description %></p>
        <div class="mt-2 flex gap-2">
          <% @startup.tags.each do |tag| %>
            <span class="bg-black text-white text-xs font-bold px-3 py-1 rounded-sm"><%= tag %></span>
          <% end %>
        </div>
      </div>
      <% unless (@startup.url.nil? || @startup.url.empty?) %>
        <%= link_to 'Visit Website', @startup.url, class: button_classes.render %>
      <% end %>
    </div>
    <div class="space-y-4">
      <% @startup.roles.each do |role| %>
        <div class="flex justify-between items-center border p-4 rounded-sm ">
          <div class="flex items-center gap-4">
            <div>
              <h2 class="text-lg font-bold "><%= role[:title] %></h2>
              <p class="text-base font-medium text-black"><%= role[:desc] %></p>
            </div>
          </div>
          <%= render 'apply_button', startup: @startup, role: role %>
        </div>
      <% end %>
    </div>
  </div>
</div>
