<header class="bg-white ">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <%= link_to root_path, class: "-m-1.5 p-1.5" do %>
      <span class="sr-only">Hunterr</span>
      <svg width="200" height="60" xmlns="http://www.w3.org/2000/svg">
        <text x="0" y="45" font-family="Arial, Helvetica, sans-serif" font-size="40" font-weight="bold" fill="black">
          Hunterr
        </text>
      </svg>
    <% end %>
    <div class="flex flex-1 gap-2 items-center md:gap-5 justify-end">
      <%= link_to 'How it works', how_it_works_path, class: "text-sm/6 font-semibold hover:underline" %>
      <%= link_to 'Explore Startups', search_path, class: "text-sm/6 font-semibold hover:underline" %>
      <%= link_to 'Submit Startup', new_startup_path, class: "text-sm/6 font-semibold hover:underline" %>
      <% if Current.user %>
        <%= button_to 'Logout', session_path(Current.session.id), method: :delete, class: button_classes.render %>
      <% else %>
        <%= link_to 'Login', sign_in_path, class: button_classes.render %>
      <% end %>
    </div>
  </nav>
</header>
